body{
     background-color: #C71585;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;}
    
     .title{
            color: black;
            font-size: 40px;
            font-weight: bold;
        
     }
    
     .img{
        height: 200px;  width: 200px; 
        border-radius: 10%;
     }

     div{
        margin: 20px;
     }